body,ul,li,p,pre,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding:0;
	list-style: none;
	box-sizing: border-box;
}

a{
	color: block;
	text-decoration: none;
}
/*顶部开始*/
.top{
	width: 100%;
	height: 120px;
	padding-top:1px;
}
.top-inner{
	width: 1000px;
	height: 40px;
	margin:0 auto;
	margin-top:30px;
}
.top-left{
	width:440px;
	height: 40px; 
}
.top-left ul{
	width:440px;
	height: 40px; 
	display:flex;
	justify-content: space-between;
}
.top-left ul li{
	cursor: pointer;
	line-height:40px; 
}
.top-left ul li a{
	color: black;
}
.top-left ul li:nth-child(4){
	border:1px solid #ccc;
}
.top-left ul li:hover{
	border:1px solid #ccc;
}
.tit{
	width: 100%;
	height: 45px;
    background:#6D4128;
}
.tit-inner{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
}
.tit-left{
	width: 300px;
	height: 40px;	
	color:white;
	font-size: 20px;
	float: left;
}
.tit-left span:first-child{
	line-height: 40px;
}
.tit-right{
    width: 400px;
	height: 30px;	
	float: right;
	margin-top:10px;

}
.tit-right input:first-child{
	width: 300px;
	height: 25px;
	color: gray;	
}
.tit-right input:nth-child(2){

	height: 26px;	
}
/*门店导航*/
.nav{
	width: 100%;
	height: 96px;
	background:#F5F4E7; 
	margin-top:-3px;
}
.nav-inner{
	width: 1000px;
	height: 96px;
	margin: 0 auto;
	padding-top:0.1px;
	border-left:1px solid #DADADA;
	border-right:1px solid #DADADA;
}
.nav-left{
	width: 300px;
	height: 41px;
	margin-top:30px;
	font-size: 20px;
	margin-left:50px;
}
.nav-left a{
	color: black;
}
.nav-inner p{
	font-size: 14px;
}
.nav-inner p span{
	float: right;
	margin-right: 20px;
}
/*主体*/
.main{
	width: 1000px;
	height: 830px;
	margin:0 auto;
	border-bottom:1px solid #DADADA;
	border-left:1px solid #DADADA;
	border-right:1px solid #DADADA;
}
.main-left{
	width: 720px;
	height: 830px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}
.main-left ul li{
	width: 350px;
	height: 378px;
	float: left;
	border-bottom:1px solid #DADADA;
}
.main-left ul li:nth-child(2){
	padding-left:40px;
	border-left:1px solid #DADADA;
}
.main-left ul li:nth-child(4){
	padding-left:40px;
	border-left:1px solid #DADADA;
}
.main-left ul li h3{
	width: 310px;
	height: 50px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 50px;
}
.main-left ul li h3:hover{
	text-decoration:underline;
}
.main-left ul li img{
	width: 310px;
	height: 150px;
	margin: 15px auto;
}
/*.page{
	width: 260px;
	height: 26px;

}*/
.wrap{
	width: 310px;
	height: 98px;
	font-size: 14px;
	line-height: 20px;
}
.main-left ul li p{
	font-size: 14px;
	float: right;
}
.main-right{
	width: 260px;
	height: 594px;
	float: right;
}

.ewm{
	width: 260px;
	height: 381px;
	margin-top:40px;
}
.ewm img{
	width: 258px;
	height: 258px;

}
.main-right p{
	width: 260px;
	height: 88px;
	font-size: 14px;
}

/*关于我们*/
.about{
	width:1000px;
	height:174px;

	margin: 0 auto;
}
.about-ineer{
	width:1000px;
	height:174px;
	display: flex;
	justify-content: space-between;
}
.about-ineer li{
	height:130px;
	margin-top: 40px;
}
.about-ineer li p{
	font-size: 12px;
/*	height: 10px;*/
	margin-top:10px;
}
.about-ineer li p a{
	color: black;
}
/*底部*/
.footer{
	width: 100%;
	height: 149px;
	background:#AEC0C7;
}
.foot-inner{
	width: 1000px;
	height: 149px;
    padding-top:1px;
	margin:0 auto;
}
.foot-pic{
	width: 365px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	margin-top:20px;
}
.foot-pic img{
	width: 101px;
	height: 50px;
}
.foot-inner p{
	width: 800px;
	height: 18px;
	font-size: 14px;
	margin-top:40px;
	margin-left: 300px;

}